.work-sans-simple {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* shared styles */
.display-flex{
    display: flex    
}
.dark-03{
    color: #727272;
}
.dark-02{
    color: #424242;
}
.dark-01{
    
    color: #131313;

}
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
.primary-btn{
    background-color:#FF900E ;
    color: #FFFFFF ;
    font-size: 20px ;
    font-weight: 600px;
    padding: 20px 25px;
    border-radius: 10px;
}

/* header styles */


/* navbar related styles */
.brand{
    font-weight: bold;
    font-size: 40px;
}
.navbar{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;

    }
    .nav-link{
        /* display: flex; */
        text-decoration: none;
        font-weight: 500;
        font-size: 20px;


    }
    .nav-items{
        list-style: none;
        margin-right: 20px;
        /* margin-top: 45px; */
    }
    .navbar, .banner{
        max-width: 1440px;
        margin: 0 auto;
    }
    .banner{}
    .banner-content{
        max-width: 860px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 50px;
    }
    .banner-title{
        font-weight: bold;
        font-size: 65px;

    }
    .banner-description{
        font-weight: r400px;
        font-size: 16px;
    }
    .banner-image{
        width: 100%;
    }
    /* responsive media query */
    @media screen and (max-width:576px){
        .navbar, .nav-links{
            flex-direction: column;
            
        }
        
    }
